*,*::before,*::after {
    box-sizing: border-box;
}

/* custom properties */
:root {
    --ff-primary: 'Montserrat', sans-serif;
    --ff-secondary: 'Tapestry', cursive;
    --ff-tertiary: 'Updock', cursive;
    --ff-custom: 'BenchNine', sans-serif;
    --ff-additional: 'Open Sans', sans-serif;


    --fw-regular: 300;
    --fw-bold: 900;
    --clr-accent: #16E0BD;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: .25em .25em .75em rgba(0,0,0,.25),
          .125em .125em .25em rgba(0,0,0,.15)  ; 
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: hsl(240, 27%, 85%);
    --bg-secondary: hsl(105, 9%, 9%);
    --transition-speed: 600ms;


  }
  @media (min-width: 800px) {
      :root {
          --fs-h1: 4.5rem;
          --fs-h2: 3.75rem;
          --fs-h3: 1.5rem;
          --fs-body: 1.125rem;
      }
  }

  /* general styles */

body::-webkit-scrollbar {
    width: 0.55rem;
}
  
body::-webkit-scrollbar-track {
   background: #231515;
}
  
body::-webkit-scrollbar-thumb {
    background: hsl(263, 3%, 47%);
}  
body {
    background: var(--bg-primary);
    color: var(--bg-secondary);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}
img {
    display: block;
    max-width: 100%;
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}


/* buttons */
.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--bg-secondary);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    
}
.btn:hover {
    transform: scale(1.1);
}
/* typography */

strong { 
    font-weight: var(--fw-bold);
}

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}
h2 {
    font-size: var(--fs-h2);
}
h3 {
    font-size: var(--fs-h3);
}

.section__title {
    margin-bottom: 0.25em;
}
.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__title--intro {
    font-weight: var(--fw-regular);
}
.section__title--intro strong{
    display: block;

}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-additional);
    margin-bottom: 1em;
}
.section__subtitle--intro {
    display: inline-block;
}

nav {
    display: none;
}

/* intro section */

.intro {
    position: relative;
}
.intro__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
        "img title"
        "img subtitle";
        grid-template-columns: min-content max-content;
    }
    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

/* services section */

.my-services {
    background-color: var(--bg-secondary);
    background-image: url(/images/christopher-gower-m_HRfLhgABo-unsplash.jpg);
    background-size: cover;
    background-blend-mode: soft-light;
    background-attachment: fixed;
    color: var(--bg-primary);
    text-align: center;
}
.section__title--services {
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 2em;
    height: 1.5px;
    margin: 0.5em auto 1em;
    background: currentColor;
    opacity: 0.45;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width:800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    .service + .service {
        margin-left: 2em;
    }
}

.about-me {
    max-width: 1000px;
    margin: 0 auto;
}
.about-me__img {
    box-shadow: var(--bs);
}

@media (min-width:600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
        "title img"
        "subtitle img"
        "text img";
        grid-column-gap: 2em;
    }
    .section__title--about {
        grid-area: title;
    }
    .section__subtitle--about {
        grid-column: 1/-1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }

    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

/* my projects */
.my-projects {
    background-color: var(--bg-secondary);
    color: var(--bg-primary);
    text-align: center;
}
.section__subtitle--my-projects {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 1em;
}







